body {
     font-family: 'Arial', sans-serif;
     margin: 0;
     padding: 0;
     background-color: #4B0076;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
}

/* Header */
.header {
     background-color: #4B0076;
     padding: 2%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
}

.menu-icon {
     font-size: 24px;
     color: white;
     background: none;
     border: none;
     cursor: pointer;
}

.contact-button {
     background-color: #B388FF;
     color: white;
     padding: 1% 2%;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 1.6em;
}

/* Hero Section */
.hero {
     text-align: left;
     padding: 5%;
     background-color: #4B0076;
     color: white;
     width: 80%;
}

.hero-title {
     font-size: 4vw;
     margin: 0;
}

.hero-subtitle {
     font-size: 2vw;
     margin-top: 2%;
}

/* Signup Section */
.signup {
     display: flex;
     gap: 2%;
     margin-top: 3%;
}

.email-input {
     padding: 2%;
     font-size: 1.2em;
     border: none;
     border-radius: 5px;
     width: 50%;
}

.signup-button {
     background-color: #97E86C;
     color: white;
     padding: 2% 5%;
     font-size: 1.2em;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}

/* Reviews Section */
.reviews {
     display: flex;
     align-items: center;
     margin-top: 40px;
     color: white;
}

.review-icon {
     font-size: 40px;
     margin-right: 20px;
}

.review-text {
     font-size: 1em;
}

.review-rating {
     color: #FBC02D;
}
